# .../examples/just_modules/test/.envrc
#
# brew install direnv
# gem install semver
#

# Repository Root
export RR=`pwd`

export JUSTPRE_FOR=just
export JUSTPREP_FILENAME_IN=main.just
export JUSTPREP_FILENAME_OUT=justfile

